{% extends 'base.html.twig' %}
{% block titre %}<h2> Ajouter des consommations </h2>{% endblock %}
{% block body %}

<ul class="list-group">
    <li class="list-group-item"><a href="{{path('form_achats')}}" class="test">-> Saisir vos achats</a></li>
  <li class="list-group-item"><a href="{{path('form_aliments')}}" class="test">-> Saisir vos consommations de repas</a></li>
  <li class="list-group-item"><a href="{{path('form_trajets')}}" class="test">-> Saisir vos trajets</a></li>
  <li class="list-group-item"><a href="{{path('form_conso_perso')}}" class="test">-> Saisir vos informations de consommation personnalisées</a></li>
</ul>



{% endblock %}