{% extends 'base.html.twig' %}

{% block body %}

<a href="{{path('form_achats')}}">Ajouter des achats</a></br>
<a href="{{path('form_aliments')}}">Ajouter des consommations de repas</a></br>
<a href="{{path('form_trajets')}}">Ajouter des trajets</a>


{% endblock %}