<footer class="bg-light border-top py-3 mt-auto">
      <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <span class="text-muted">© {{ "now"|date("Y") }} Ecolito</span>

        <div class="mt-2 mt-md-0">
          <a class="text-muted text-decoration-none me-3" href="#">Mentions légales</a>
          <a class="text-muted text-decoration-none" href="#">Contact</a>
        </div>
      </div>
    </footer>