{% extends 'base.html.twig' %}
{% block titre %}<h2> Trajets effectués </h2>{% endblock %}
{% block body %}

{{ form_start(form) }}
<div id="formu">
        {{ form_widget(form) }}
        </div>
{{ form_end(form) }}

{% endblock %}