{% extends 'base.html.twig' %}
{% block titre %} <h2>Achats effectués </h2>{% endblock %}
{% block body %}
<div class="section">
<p> Ici,vous pouvez ajouter les achats que vous avez effectués. </br>Si vous avez fait des achats qui ne sont pas dans la liste, ou que vous souhaitez apporter des précisions à ceux que vous avez validez, n'hésitez pas à consulter le <a href="{{path('form_conso_perso')}}" class="lienCP">formulaire personalisé</a> </p>

{{ form_start(form) }}
<div class="formu">
        {{ form(form) }}
   </div>     
{{ form_end(form) }}
</div>
{% endblock %}