{% extends 'base.html.twig' %}

{% block body %}

<div class="logo-center">
  <img src="/images/logo.png" alt="Logo" class="logo-img">
</div>

<div class="video-bg">
  <video autoplay muted loop playsinline>
   <source src="/videos/foretvideo.mp4" type="video/mp4">
  </video>
</div>

   

{% endblock %}