<nav class="navbar navbar-expand-lg eco-pill-nav">
  <div class="container-fluid eco-pill-inner">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-between px-3">
        <li class="nav-item">
          <a class="nav-link eco-link active" href="#">🏠 ACCUEIL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link eco-link" href="#">📊 SUIVI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link eco-link" href="#">💡 SUGGESTION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link eco-link" href="#">👤 MON COMPTE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
